*, *::before, *::after
{ box-sizing: border-box}

body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 1.43;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header a,
.header-container input,
.header-container label,
.main-navigation a {
  font-size: 17px;
  line-height: 1;
  color: #ffffff;
}

.main-navigation ul,
.footer-navigation-anchors,
.footer-navigation-catalog,
.about ul,
.path ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.top-information p:first-child {
  font-size: 16px;
  line-height: 1.44;
  font-style: italic;
  color: #ee3643;
}

.top-address-place {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  color: #32425c;
}

.top-information a,
.exit {
  font-size: 21px;
  line-height: 1;
  font-style: normal;
  color: #000000;
}

.top-address a:first-child {
  color: #ee3643;
}

a.user-navigation {
  font-size: 16px;
  line-height: 1.13;
  text-decoration: underline;
  color: #32425c;
}

div[class^="promo-"] h3 {
  font-size: 24px;
  line-height: 1.25;
  color: #ffffff;
}

div[class^="promo-"] a,
.add-in-cart a,
a.slider-credit {
  font-size: 14px;
  line-height: 1.29;
  color: #ffffff;
  text-transform: uppercase;
}

div[class^="promo-slider"] h3 {
  font-size: 36px;
  line-height: 1;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}

.promo-sliders p {
  font-size: 18px;
  line-height: 1.33;
  color: #ffffff;
}

.catalog h2,
.popular-products h2,
.popular-makers h2,
.services h2,
.about h2,
.contacts h2,
.section-description h2,
.catalog-page {
  font-weight: normal;
  font-size: 30px;
  line-height: 1;
  color: #32425c;
  text-transform: uppercase;
  margin: 0;
}

.path a {
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  font-size: 13px;
  line-height: 1.38;
  color: #000000;
  text-transform: uppercase;
}

h2 + a:nth-child(2),
h2 + a:nth-child(2),
.about a,
a.feedback {
  font-size: 14px;
  line-height: 1.29;
  color: #ffffff;
  text-transform: uppercase;
}

form legend {
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 1.76;
  color: #000000;
  text-transform: uppercase;
}

form label {
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  font-size: 15px;
  line-height: 1.33;
  color: #000000;
  text-transform: uppercase;
}

form input:last-child,
.sorting,
span.head  {
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.38;
  text-transform: uppercase;
}

.catalog-item h3 {
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  font-size: 18px;
  line-height: 1.11;
  font-weight: bold;
}

.old-price {
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  font-size: 17px;
  line-height: 1.06;
  text-decoration: line-through;
  color: #a9a9a9;
}

.catalog-item a {
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 1.06;
  color: #ffffff;
}

.services p,
.about p,
.contacts p,
.section-description p {
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  font-size: 13px;
  line-height: 1.85;
}

.services span {
  font-family: "Cuprum", "Arial", "Helvetica", sans-serif;
  font-size: 36px;
  line-height: 1;
  text-transform: uppercase;
  color: #32425c;
}

.services button {
  font-family: "Cuprum", "Arial", "Helvetica", sans-serif;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.43;
  color: #ffffff;
}

.services .shipping {
  color: #32425c;
}

.about li {
  font-size: 18px;
  line-height: 1.11;
  padding-bottom: 18px;
}

.paginator a {
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  font-size: 13px;
  line-height: 1.38;
  text-transform: uppercase;

}

.footer-address {
  font-size: 18px;
  line-height: 1.33;
  color: #f3f7f9;
  font-style: normal;
}
.footer-navigation-anchors a {
  font-size: 18px;
  line-height: 1.33;
  color: #f3f7f9;  
}
.footer-navigation-catalog a {
  font-size: 18px;
  line-height: 1.33;
  color: #ffda96;  
}

.footer-copyright {
  font-size: 16px;
  line-height: 1.13;
  color: #ffffff;
}

.footer {
  font-size: 16px;
  line-height: 1.33;
  color: #ffffff;
  
}
.footer-developer a, 
.footer-feedback a{
  font-size: 16px;
  line-height: 1.33;
  color: #ffd180;
}


/* сетка*/
.container {
	width: 100%;
  margin: 0 auto;
}

.color-services {
	background-color: #f4f7f9;
}

.main-header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: #293449;
}

.header-container {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
  align-items: flex-start;
  position: relative;
}

.main-header .container:last-child {
  background-color: #f4f7f9;
}

a.checkout {
  display: inline-block;
  vertical-align: middle;
  background-color: #63a63e;
  margin: 0;
  width: 150px;
  padding: 12px 21px 13px 20px;

}

a.checkout:hover,
a.checkout:focus {
  background-color: #5fbb2d;
}

a.checkout:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.5);
}

.header-container a:first-of-type {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 220px;
  min-height: 42px;
  background-color: #ee3643;
  padding: 12px 55px;
  box-sizing: border-box;
  box-shadow: 0 4px rgb(182, 36, 47);
  line-height: 0;
}

.header-container a:first-of-type:hover,
.header-container a:first-of-type:focus {
  background-color: #ca2c37;
  box-shadow-color: #9B1B25;
}

.header-container a:first-of-type:active {
  background-color: #bb222e;
  box-shadow-color: #8F1922;
}

.header-container input {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  left: 250px;
  top: 14px;
  background-color: #293449;
  border: none;
  box-shadow: none;
  width: 200px;
  margin-left: 15px;
  outline: none;
  z-index: -1;
}

svg.search {
  margin: 4px 14px 0 22px;
}

.header-container label {
  display: inline-block;
  vertical-align: middle;
  width: 270px;
  background-color: #293449;
  margin-left: -7px;
  padding: 6px 0 15px 0;
  line-height: 0;
}

label.in-focus {
  display: none;
}

.header-container input:focus {
  background-color: #ffffff;
  color: #293449;
}

.header-container input:focus ~ label.in-focus {
  display: block;
  background-color: #ffffff;
  color: #293449; 
}

.header-container input:focus ~ label:first-of-type {
  display: none;
}

input[type="text"]:hover ~ label > svg {
  fill: #ffffff;
}

input[type="text"]:focus ~ label > svg {
  fill: #ee3643;
}

.header-container a:nth-of-type(2),
.header-container a:nth-of-type(3) {
  display: inline-block;
  vertical-align: middle;
  width: 150px;
  padding: 12px 0;
}

a > .header-svg {
  margin: 0 17px 0 19px;
}

a.in-user-menu > .header-svg {
  margin: 0 15px 0 19px;
}

a:nth-of-type(2) > .header-svg {
  margin: -1px 14px 0 20px;
}

a:hover .header-svg,
a:focus .header-svg {
  fill: #ffffff;
}



.in-user-menu {
  background-color: #ee3643;
  margin-right: -3px;
}

.header-container a:nth-of-type(2):active,
.header-container a:nth-of-type(3):active {
 background-color: #161d29;
}

.main-header a:focus {
  outline: none;
}

.total-information {
  display: flex;
  flex-wrap: wrap;
  margin-top: 46px;
  align-items: center;
}

.top-information {
  display: flex;
  margin: 0 auto;
  width: 940px;
  justify-content: space-between;
  align-items: flex-start;
}

.main-navigation {
  width: 940px;
  margin: 0 auto;
  background-color: #32425c;
  box-shadow: 0 4px #293449;
  margin-bottom: 65px;
  margin-top: 9px;
}

.main-navigation ul {
	display: inline-flex;
	width: 100%;
	flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 25px 0 22px;
  margin: 0;
 }

.main-navigation a {
  display: inline-block;
  vertical-align: middle;
	padding: 20px 30px 18px 30px;
}

.main-navigation li:nth-of-type(2) {
  margin-left: 3px;
  margin-right: -3px;
}

.main-navigation li:nth-of-type(5) {
  margin-left: -3px;
  margin-right: 3px;
}

.main-navigation a:hover,
.main-navigation a:focus {
  background-color: #243147;
}

.main-navigation a:active {
  background-color: #1d2739;
  color: #a9adb0;
}

.top-information p:first-child {
	display: inline-block;
  vertical-align: middle;
	width: 205px;
	padding: 3px;
  margin: 0 65px 28px 50px;
}

.top-address {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
  align-items: center;
	padding-right: 50px;
}

.top-address a {
	display: inline-block;
	width: 270px;
	box-sizing: border-box;
  border: 3px solid #ffffff;
  padding: 6px 0 7px 0;
  margin-bottom: -10px;
}

.top-address svg {
  margin: 3px 40px 0 13px;
}

.enter {
	width: 121px;
	background-color: #ffffff;
	padding: 10px 0 12px 0;
  margin-left: 21px;
}

.enter svg {
  margin: 2px 13px 0 13px;
}

.enter:hover svg,
.enter:focus svg {
  fill: #2e405c;
}

.enter:hover,
.enter:focus,
.registration:focus,
.registration:hover {
  color: #ee3643;
} 

.enter:active svg {
  fill: #f1f5f7;
}

.enter:active,
.registration:active {
  color: #f1f5f7;
}

.registration {
	width: 150px;
	background-color: #ffffff;
  margin-left: 10px;
	text-align: center;
  padding: 12px 0;
	box-sizing: border-box;
}

.user-menu {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
}

.exit {
  width: 100%;
  background-color: #ffffff;
  padding: 12px 0 12px 48px;
  color: #000000;
  margin-bottom: 8px;
  position: relative;
}

.exit svg:first-of-type {
  position: absolute;
  top: 13px;
  left: 15px;
}

.exit svg:last-of-type {
  position: absolute;
  top: 14px;
  right: 11px;
}

a.user-navigation {
  display: inline-block;
  padding: 0 18px;
  position: relative;
}

a.user-navigation:last-of-type {
  padding-left: 15px;
}

a.user-navigation:last-child::before {
  content: "";
  width: 0;
  position: absolute;
  left: -2px;
  top: 8px;
  border: 2px solid #32425c;
  border-radius: 50%;
}

.exit:hover svg,
.exit:focus svg {
  fill: #2e405c;
}

.exit:active {
  color: rgba(0, 0, 0, 0.3);
}

.exit:active svg {
  fill: rgba(0, 0, 0, 0.3);
}

a.user-navigation:hover,
a.user-navigation:focus {
  color: #ee3643;
}

a.user-navigation:active {
  color: rgba(0, 0, 0, 0.3);
}

.promo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 59px auto 55px auto;
  width: 940px;
}

.promo-materials,
.promo-tools,
.promo-mashines,
.promo-discount,
.promo-shipping {

  width: 300px;
  height: 123px;
}

.promo-materials h3,
.promo-tools h3,
.promo-mashines h3,
.promo-discount h3,
.promo-shipping h3 {
  padding: 20px 0 14px 23px;
  margin: 0;
}

.promo-materials a,
.promo-tools a,
.promo-mashines a,
.promo-discount a,
.promo-shipping a {
  display: inline-block;
  vertical-align: middle;
  width: 135px;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  text-align: center;
  padding: 9px 0 10px 0;
  margin: 0 0 22px 25px;
  border-radius: 3px;
  outline: none;
}

.promo-mashines a,
.promo-discount a,
.promo-shipping a {
  margin-left: 23px;
}

div[class^="promo-"] a:hover,
div[class^="promo-"] a:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

div[class^="promo-"] a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

div.promo-sliders {
  width: 620px;
  position: relative;
  order: 4;
  display: inline-block;
}

.promo-discount {
order: 5;
}

.promo-shipping {
  order: 5;
  margin-left: 640px;
}

div[class^="promo-slider"] h3,
p.promo-slider-one,
p.promo-slider-two,
div[class^="promo-slider"] a {
 position: absolute;
 z-index: 20;
}

div[class^="promo-slider"] a:hover {
  background-color: #ca2c37;
}

div[class^="promo-slider"] a:active {
  background-color: #ba2732;
}

div.promo-sliders img {
 position: absolute;
 z-index: -20;
 top: 0;
 left: 0;
}

div[class^="promo-slider"] h3 {
	font-size: 36px;
  line-height: 1;
  top: 22px;
	left: 25px;
	margin: 0;
	padding: 0;
}

p.promo-slider-one,
p.promo-slider-two {
  top: 60px;
	left: 25px;
	margin: 0;
	padding: 0;
	text-transform: none;
}

div[class^="promo-slider"] a,
a.slider-credit {
 top: 207px;
 left: 25px;
 width: 195px;
 background-color: #ee3643;
 border-radius: 3px;
 text-align: center;
 padding: 9px 0 10px 5px;
 margin: 0;
}

.promo-sliders label:first-of-type {
  z-index: 30;
  position: absolute;
  top: 114px;
  left: 25px;
}

.promo-sliders label:last-of-type {
    z-index: 30;
  position: absolute;
  top: 114px;
  right: 20px;
}

.promo-sliders label::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border: 2px solid #ffffff;
  background-color: #ffffff;
  border-radius: 50%;
  top: 105px;
  }

.promo-sliders label:last-of-type::before {
  right: 275px;
}

.promo-sliders label:first-of-type::before {
  left: 272px;
}

.promo-sliders input[type="radio"]:checked + label::before {
background-color: #ee3643; 
}


input[id="slider-two"]:checked ~ .promo-slider-two {
  display: block;
}

input[id="slider-two"]:checked ~ .promo-slider-one {
  display: none;
}

.promo-materials {
  background: url("../img/icon-1.png") #ffbf47 no-repeat;
  background-position: 212px 31px;
  margin-right: 20px;
  position: relative;
}

.promo-tools {
	background: url("../img/icon-2.png") no-repeat #3bbce3;
  background-position: 198px 33px;
  margin-right: 20px;
  position: relative;
}

.promo-mashines {
	background: url("../img/icon-3.png") no-repeat #dc91d8;
  background-position: 190px 31px;
  margin-bottom: 20px;
	position: relative;
}

.promo-discount {
  background: url("../img/icon-4.png") no-repeat #8ed78f;
  background-position: 196px 26px;
  margin-bottom: 20px;
  position: relative;
}

.promo-shipping {
  background: url("../img/icon-5.png") no-repeat #ffc047;
  background-position: 190px 32px;
  position: relative;
}

.new::before {
	content: "";
	width: 60px;
	height: 59px;
	display: inline-block;
	position: absolute;
  right: 0px;
  top: 0px;
	background-image: url("../img/new-flag.png");
}


.head-section,
.main-popular-products,
.main-popular-makers,
.services, 
.section-container, 
.footer-part-second,
.footer-part-first
 {
  width: 940px;
  margin: 0 auto;
  display: flex;
}

.head-section {
  display: flex;
  background-color: #f9f5f0;
  margin: 0 auto 17px auto;
  justify-content: space-between;
  align-items: center;
  padding: 22px 24px 27px 30px; 
}

.popular-makers .head-section {
    padding: 26px 24px 27px 29px; 
}

.head-section a {
  width: 253px;
  background-color: #ee3643;
  text-align: center;
  padding: 11px 0;
  border-radius: 3px;
}


.catalog-item {
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 background-color: #ffffff;
 width: 220px;
 border: 1px solid #eaeaea;
 text-align: center;
 position: relative;
 margin-bottom: 20px;
 margin-right: 20px;
 z-index: 1;
}

.catalog-item img {
  width: 218px;
}

.catalog-item:nth-of-type(3n),
.main-popular-products .catalog-item:nth-of-type(4) {
  margin-right: 0;
}

.main-popular-products .catalog-item:nth-of-type(3) {
  margin-right: 20px;  
}

.catalog-item.in-focus:hover {
  border: none;
  box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.4);
 }
 

.actions {
position: absolute;
display: flex;
flex-direction: column;
align-items: center;
top: 0;
left: 0;
background-color: #ffffff;
width: 218px;
height: 170px;
padding-top: 44px;
z-index: -1;
}

.catalog-item:hover > .actions {
  z-index: 10;
  width: 220px;
}

.actions a {
  display: inline-block;
  vertical-align: middle;
  font-family: "Cuprum", "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
  width: 135px;
  text-align: center;
}

a.buy {
  border: none;
  border-radius: 3px;
  background-color: #63a63e;
  box-shadow: 0 3px #367315;
  color: #ffffff;
  padding: 10px 0;
  position: relative;
  margin-bottom: 10px;
}

.actions svg {
  position: absolute;

  left: 14px;
  top: 11px;
}

a.bookmark {
  border: 3px solid #63a63e;
  border-radius: 3px;
  background-color: #ffffff;
  color: #32425c;
  padding: 7px 0;
}

a.buy:hover {
background-color: #5fbb2d;
}

.buy:hover svg {
fill: rgba(255, 255, 255, 1);
}

a.bookmark:hover {
border-color: #32425c;
}

a.buy:active {
background-color: #367315;
}

a.bookmark:active {
border-color: #c2c7cf;
color: rgba(50, 66, 92, 0.3);
}

.catalog-item span {
  color: #a9a9a9;
  margin: 10px auto 11px auto;
  font-weight: bold;
  padding: 0 50px 0 54px;
}

.wrap > a {
  display: inline-block;
  overflow-wrap: break-word;
  background: #ee3643;
  min-width: 122px;
  max-width: 180px;
  padding: 10px 0 10px 11px;
  text-align: center;
  margin: 0 auto 19px auto;
  position: relative;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.wrap {
  width: 100%;
  padding-right: 10px;

}

/*.modal a {
  display: inline-block;
  border: 3px solid green;
  background: #ffffff;
  color: #000000;
  width: 122px;
  padding: 10px 0;
  text-align: center;
}*/

.wrap > a::after {
  content: "";
  width: 0;
  border: 19px solid #ee3643;
  position: absolute;
  top: 0;
  right: -19px;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-right-width: 0px;
}

.item-name {
  display: inline-block;
  margin: 0;
  margin: 10px auto auto auto;
  width: 160px;
}

.main-popular-makers {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 65px;
}

.main-popular-makers img {
  width: auto;
}

.main-popular-makers a {
  display: flex;
  margin-bottom: 20px;
  width: 220px;
  height: 145px;
  border: 1px solid #eaeaea;
  align-items: center;
  justify-content: center;
}

.main-popular-makers a:nth-

.main-popular-makers a:hover,
.main-popular-makers a:focus {
  border: none;
  box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.4);
  outline: none;
}

.main-popular-makers a:active {
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  opacity: 0.5;
  filter: alpha(Opacity=50);
}

.services {
	display: flex;
	flex-wrap: wrap;
}

.services-description {
  width: 399px;
  margin: 65px 400px 76px 0;
}

.services-description h2,
.services p,
.about h2,
.contacts h2,
.about p:nth-of-type(2) {
  margin: 0;
  padding: 0;
    text-align: justify;
}

.services-description h2 {
  padding-bottom: 20px;
}

.services-description > p {
margin: 6px 0 -7px 1px;
}

.slider-shipping {
  position: absolute;
  top: -1px;
  left: 160px;
  width: 275px;
  padding-left: 80px;

}

.slider-shipping span,
.slider-gaurantee span,
.slider-credit span {
  display: block;
  padding-bottom: 25px;
  padding-left: 1px;
}

p.slider-shipping::after {
	content: "";
	width: 468px;
	height: 260px;
	display: inline-block;
	position: absolute;
  left: 152px;
  top: 25px;
	background: url("../img/layer-136.png") no-repeat;
}

.slider-gaurantee {
  position: absolute;
  top: 0;
  left: 160px;
  width: 380px;
  padding-left: 80px;
}

p.slider-gaurantee::after {
  content: "";
  width: 389px;
  height: 283px;
  display: inline-block;
  position: absolute;
  left: 220px;
  top: 0px;
  background: url("../img/layer-137.png") no-repeat;
}

.slider-credit {
  position: absolute;
  top: 0;
  left: 160px;
  width: 280px;
  padding-left: 80px;
}

p.slider-credit::after {
  content: "";
  width: 465px;
  height: 280px;
  display: inline-block;
  position: absolute;
  left: 170px;
  top: 3px;
  background: url("../img/layer-138.png") no-repeat;
}

a.slider-credit {
  top: 130px;
  left: 160px;
  padding: 10px 44px;
}

div.services-sliders {
  display: flex;
  flex-direction: column;
  float: left;
  width: 240px;
  margin-bottom: 100px;
  padding-right: 700px;
  position: relative;
}

div.services-sliders::after {
  content: "";
  position: absolute;
  background-image: url("../img/layer-118-copy.png");
  width: 10px;
  height: 279px;
  right: 460px;
  top: -47px;
}

.services-sliders label {
	display: inline-block;
	font-size: 21px;
	font-weight: bold;
	line-height: 1.43;
  width: 240px; 
  height: 61px;
  background-color: #32425c;
  padding-top: 16px;
  padding-left: 22px;
  color: #ffffff;
  box-shadow: inset 0px -1px #405069, 0px 3px 0 0 #293449;
 }

.services-sliders input:hover + label,
.services-sliders input:focus + label {
  background-color: #293449;
  box-shadow: inset 0px -1px #293449, 0px 1px 0 0 #293449;
}

.services-sliders input:checked + label {
  background-color: #ffffff;
  box-shadow: inset 0px -1px #ffffff, 0px 1px 0 0 #ffffff;
  color: #32425c;
}

input[id="guarantee"]:checked ~ div.slider-shipping,
input[id="credit"]:checked ~ div.slider-shipping {
  display: none;
}
input[id="guarantee"]:checked ~ div.slider-gaurantee {
  display: block;
}
input[id="credit"]:checked ~ div.slider-credit {
  display: block;
}
/*временный. потом надо разметить в слайдерах*/

div.hidden, .services-sliders input {
	display: none;
}

.about,
.contacts {
  display: flex;
  flex-direction: column;
	margin-bottom: 85px;
	margin-top: 80px;
}

.about h2 {
    padding-bottom: 13px;
}

.contacts h2 {
  padding-bottom: 16px;
}
.about p:last-of-type {
  margin-top: 0;
  margin-bottom: 19px;
}

.about p:first-of-type {
  margin-bottom: 24px;
    text-align: justify;
}

.about p {
  white-space: pre;
}

.about {
  width: 519px;
  margin-right: 121px;
}

.contacts {
	width: 300px;
}

.about a,
a.feedback {
  background-color: #ee3643;
  border-radius: 3px;
  border: none;
  text-align: center;
  margin: 0;
}

.about a {
  width: 220px;
  margin-top: 19px;
  padding: 9px 0 11px 1px;
}

a.feedback {
  width: 100%;
  padding: 11px 43px 10px 50px;
}

.contacts p {
	margin-top: 10px;
	margin-bottom: 32px;
}

.contacts img {
	margin-bottom: 34px;
}

ul.transport {
	display: inline-block;
	position: relative;
}

.transport li {
	margin-left: 37px;
  padding-top: 2px;
}

.transport li:first-of-type::before,
.transport li:nth-of-type(2)::before,
.transport li:nth-of-type(3)::before {
	content: "";
	border: 1px solid #ee3643;
	width: 25px;
	display: inline-block;
	position: absolute;
  left: 0px;
  top: 12px;
}

.transport li:nth-of-type(2)::before {
  top: 52px;
}

.transport li:nth-of-type(3)::before {
  top: 90px;
}

.main-footer {
	background-color: #32425c;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

footer .container {
	background-color: #293449;
}

.footer-part-first,
.footer-part-second {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 940px;
}

.logo-footer {
  display: inline-block;
  width: 220px;
  background-color: #ee3643;
  padding: 20px 41px 14px 41px;
  margin-right: 600px;
  box-shadow: 0 6px rgb(182, 36, 47);
}

p.footer-address {
	width: 335px;
	line-height: 25px;
  padding: 31px 0 50px 4px;
  margin: 0;
}

.footer-navigation {
  margin-top: -25px;
}

.footer-navigation-anchors,
.footer-navigation-catalog {
	display: flex;
	flex-direction: row;
}

.footer-navigation-anchors {
	justify-content: flex-end;
	width: 600px;
	margin-bottom: 34px;
}

.footer-navigation-anchors li:last-of-type {
  margin-left: -3px;
}

.footer-navigation-anchors li:nth-of-type(3) {
  margin: 0 2px 0 -2px;
}

.footer-navigation-catalog {
	justify-content: flex-end;
	width: 600px;
	margin-bottom: 25px;
}

.footer-navigation-catalog li:nth-of-type(3) {
  margin-left: -2px;
}

.footer-navigation-anchors a,
.footer-navigation-catalog a {
	padding-left: 60px;
}

.footer-copyright {
  width: 230px;
  padding: 36px 0 35px 0;
  margin-right: 147px;
}

.footer-copyright p {
  margin: 0;
  text-align: justify;
}

.footer-feedback {
	width: 135px;
  padding: 35px 0 30px 0;
  margin-right: 25px;
}

.footer-developer {
	width: 100px;
  padding: 35px 0 30px 0;
  margin-right: 11px;
  margin-left: 5px;
}

.footer-feedback a,
.footer-developer a {
  display: inline-block;
  vertical-align: middle;
  margin-top: -7px;
}

.footer-socialmedia {
	display: flex;
	justify-content: space-between;
	width: 132px;
  padding: 35px 0 33px 2px;
  margin-right: 96px;
  margin-left: -11px;
}

.footer-socialmedia a {
	display: flex;
	width: 42px;
  justify-content: center;
  align-items: center;
  background-color: #212a3a;
  border: 1px solid  #212a3a;
  border-radius: 50%;
  background-clip: border-box;
}

.footer-navigation-anchors a:hover,
.footer-navigation-catalog a:hover,
.footer-navigation-anchors a:focus,
.footer-navigation-catalog a:focus,
.footer-feedback a:hover,
.footer-developer a:hover,
.footer-feedback a:focus,
.footer-developer a:focus {
  text-decoration: underline;
  outline: none;
}

.footer-navigation-anchors a:active {
  color: rgba(241, 245, 247, 0.5);
  text-decoration: none;

}

.footer-navigation-catalog a:active {
  color: rgba(255, 209, 128, 0.5);
  text-decoration: none;
}

.footer-feedback a:active,
.footer-developer a:active {
  color: #ee3643;
  text-decoration: none;
}

.footer-socialmedia a:hover,
.footer-socialmedia a:focus,
.footer-socialmedia a:active {
  background-color: #ee3643;
  outline: none;
}






.center, .section-description {
  display: flex;
  flex-wrap: wrap;
  width: 940px;
  margin: 0 auto;
}

.container.color {
  background-color: #f4f7f9; 
}

.path ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 940px;
  padding: 0;
  margin: 4px 0 5px -1px;
}

.path a {
  display: inline-block;
  padding: 16px 40px 16px 0;
  position: relative;
}

.next::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  top: 20px;
  right: 15px;
  background-color: transparent;
  border: 1px solid #c1c6ce;
  border-left-color: transparent;
  border-bottom-color: transparent;
  transform: rotate(42deg);
}

li:first-of-type .next::after {
  right: 20px;
}

.path li:last-of-type {
  margin-left: 3px;
}

h2.catalog-page {
  display: block;
  width: 940px;
  background-color: #f2f6f8;
  padding: 30px 3px 29px 28px;
  margin: 0;
  margin-bottom: 20px;
}

.center form {
  display: flex;
  flex-wrap: wrap;
  width: 220px;
  margin-top: -56px;
  flex-direction: column;
  order: 2;
  margin-right: 20px;
}

.section-catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  float: right;
  width: 700px;
  order: 2;


}

 form .head {
  display: inline-block;
  width: 100%;
  padding: 9px 17px 11px 19px;
  background-color: #f7f3ec;
  margin-bottom: 10px;
  border-radius: 3px;
}

.paginator {
  width: 940px;
  order: 10;
}

.box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  width: 100%;
}

.box legend {
  padding-right: 80px;
  margin-left: -2px;
}

form fieldset {
  border: none;
  padding: 0;
}

.box.price {
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 26px;
}

.box.price label {
  display: flex;
  justify-content: center;
  position: relative;
  
  font-size: 17px;
  line-height: 1.06;
  vertical-align: center;
  margin: 9px 0 0 -1px;
  
  background-color: #f7f3ec; 
  width: 95px;
  border-radius: 3px;

  cursor: pointer;
}

.box.price input {
    width: 50px;
    margin: 0;
  text-align: center;
    color: inherit;
    font: inherit;
  padding: 10px 0;
    background-color: #f7f3ec;
    border: none;
  }

.price label:first-of-type::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 0;
  top: 20px;
  right: -20px;
  border: 1px solid #000000;
  border-bottom-color: transparent;
  border-right-color: transparent;
}


.range-controls {
  position: relative;
  background-color: #f7f3ec;
  padding: 39px 20px;
  margin-top: -7px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.range-controls .scale {
  width: 180px;
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 152px;
  height: 2px;

  background: #00cb75;
}

.range-toggle {
  position: absolute;
  top: 31px;
  
  width: 20px;
  height: 20px;
  padding: 0;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle-min {
  left: 18px;
}

.range-toggle-max {
  left: 158px;
}

.sorting {
  margin-bottom: 0;
  width: 700px;
  margin-left: 240px;
  order: 1;
  padding: 9px 14px 10px 19px;
  background-color: #f7f3ec;
  margin-bottom: 19px;
  border-radius: 3px;
  font-size: 0px;
}

.sorting span {
  margin-right: 139px;
}

.sorting a {
  display: inline-block;
  position: relative;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #ee3643;
 }

.sorting a:first-of-type {
  margin-right: 71px;
}

.sorting a:nth-of-type(2) {
  margin-right: 66px;
}

.sorting a:nth-of-type(3) {
  margin-right: 46px;
}

.sorting a:nth-of-type(4) {
  margin-right: 21px;
  border-color: transparent;
}

.sorting a:nth-of-type(5) {
  border-color: transparent;
}

.sorting a:hover,
.sorting a:focus {
  color: #000000;
  border-bottom-style: solid;
}

.sorting svg:hover,
.sorting svg:focus {
  fill: #000000;
}

a.checked,
a.checked:hover,
a.checked:focus {
  color: #ee3643;
  border-color: transparent;
}

svg.checked,
svg.checked:hover,
svg.checked:focus {
  fill: #ee3643;
}



.makers, .price {
  border-bottom: 1px solid #e5e5e5;
  padding-top: 20px;
}

.makers {
  padding-bottom: 12px;
}

.makers legend{
  padding-top: 16px;
}

.power legend {
  padding: 18px 0 3px 0;
}

.makers legend {
  margin-bottom: -16px;
}

.makers label, 
.power label {
  padding: 10px 31px 10px 35px;
  margin-left: -2px;
  position: relative;
}

input[type="checkbox"] ~ label > svg {
  position: absolute;
  left: 0;
}

input[type="checkbox"] ~ label > svg.on {
  display: none;
}

input[type="checkbox"]:checked + label > svg.on {
display: block;
}

svg.on:hover, svg.off:hover,
svg.on:focus, svg.off:focus {
  fill: #b5b5b5;
}

.power label::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  border: 4px solid #c5c5c5;
  border-radius: 50%;
  top: 8px;
  left: -1px;
}

form input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 4px solid #c5c5c5;
  border-radius: 50%;
  top: 16px;
  left: 7px;
}

input[name="result"] {
  width: 140px;
  padding: 9px 0;
  margin-top: 69px;
  background: none;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.paginator {
  font-size: 0px;
  margin: 32px 0 60px 240px;
}

.paginator a {
  display: inline-block;
  color: #000000;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  padding: 10px 15px;
  margin-right: 9px;
}

.paginator a:last-child {
  padding: 10px 30px 10px 31px;
}

a.current {
  background-color: #ee3643;
  border-color: #ee3643;
  color: #ffffff;
}

.paginator a:hover,
.paginator a:focus {
  border-color: #bdc6ca;
}

.paginator a:active {
  border-color: #ee3643;
}

.section-description > * {
  padding: 0;
  margin: 0;
}

.section-description {
  padding: 65px 0 68px 0;
  text-align: justify;
}

.section-description h2 {
  padding-bottom: 25px;
  margin-left: 3px;
}

.section-description p {
  white-space: pre;
  width: 938px;
}

.add-in-cart {
  position: fixed;
  display: none;
  top: 25%;
  left: 25%;
  background-image: linear-gradient(#ee3643 2.5%, #ffffff 2.5%, #ffffff 57.8%, #f1f1f1 57.8%);
  width: 620px;
  padding: 74px 80px 37px 80px;
  z-index: 100;
}

.add-in-cart p {
  font-size: 30px;
  line-height: 1;
  text-align: center;
margin: 0 0 0 35px;
padding: 0;
}

.add-in-cart svg {
  position: absolute;
  top: 55px;
  left: 81px;
}

.add-in-cart a {
  display: inline-block;
  vertical-align: middle;
  border-radius: 3px;
  margin-top: 105px;
}

.add-in-cart a:first-of-type {
  background-color: #ee3643;
  padding: 10px 59px;
  margin-right: 20px;
}

.add-in-cart a:last-of-type {
  background-color: #ffffff;
  color: #000000;
  padding: 10px 45px;
}

.write-us {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  top: 15%;
  left: 25%;
  background-image: linear-gradient(#ee3643 2.5%, #ffffff 2.5%, #ffffff 74%, #f1f1f1 74%);
  width: 620px;
  padding: 35px 80px 37px 80px;
  z-index: 100;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.75);
  display: none;
}

.write-us label {
  font-family: "Cuprum", "Arial", "Helvetica", sans-serif;
  font-size: 18px;
  line-height: 1;
  text-transform: none;
  display: inline-block;
  vertical-align: middle;
  margin: 20px 140px 13px 0;

}

.write-us label:first-of-type {
    padding-right: 23px;
}

.write-us input, .write-us textarea {
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  font-size: 13px;
  line-height: 1.38;
  display: inline-block;
  vertical-align: middle;
  color: #a9a9a9;
  width: 218px;
  border: 2px solid #dee3e4;
  border-radius: 3px;
  padding: 9px 0 9px 16px;
}

.write-us input:first-of-type {
  margin-right: 20px;
}

.write-us textarea {
  width: 460px;
  margin-bottom: 74px;
}

.write-us input:last-of-type {
   font-family: "Cuprum", "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 1.29;
  width: 100%;
  background-color: #ee3643;
  color: #ffffff;
  border: none;
  padding: 10px 0;
}

.write-us input:hover,
.write-us textarea:hover {
  border-color: #b5b5b5;
}

.write-us input:focus,
.write-us textarea:focus {
  border-color: #ee3643;
}

a.feedback:active ~ .write-us {
  display: block;
}

.map {
  display: none;
  position: fixed;
  top: 5%;
  left: 15%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
  z-index: 100;
}

.close,
.form-close {
  position: absolute;
  border: none;
  background-color: transparent;
  width: 21px;
}

.add-in-cart .close {
  top: -40px;
  right: 91px;
}

.form-close {
  top: 20px;
  right: 18px;
}

.map .form-close {
  top: -10px;
  right: 0;
}

.show-popup {
  display: block;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  30%,
  50%,
  70%,
  90% {
    transform: translateX(-20px);
  }

  20%,
  40%,
  60% {
    transform: translateX(20px);
  }
}
.popup-error {
  animation: shake 0.6s;
}